node_modules/
dist/
build/
.env
*.local

# backend
backend/uploads/**
!backend/uploads/.gitkeep
!backend/uploads/avatars/.gitkeep
!backend/uploads/banners/.gitkeep
!backend/uploads/portfolio/.gitkeep
!backend/uploads/ai-generated/.gitkeep
backend/prisma/dev.db
backend/prisma/dev.db-journal

# frontend
frontend/dist/

# editor/os
.vscode/
.DS_Store
Thumbs.db
npm-debug.log*
